* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffa07a;
    /* light salmon */
    background-image: linear-gradient(to bottom right, #add8e6, #ffa07a);
}

.main-h1 {
    color: #fffcf2;
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: inherit;
    font-style: oblique;
    font-weight: inherit;
}

h4 {
    color: #fffcf2;
    margin: 0 20px;
    font-weight: inherit;
}

.main-h2 {
    text-align: center;
    font-size: 4vmax;
    color: #fffcf2;
    margin: 0;
    padding: 0;
    font-style: oblique;
}

.p-h2 {
    text-align: center;
    color: #fffcf2;
    margin: 0;
    padding: 0;
    font-size: 50px;
}

.p1 {
    text-align: center;
    margin: 30px 100px 30px 100px;
    color: #fffcf2;
    font-style: bold;
    font-size: 2vmax;
    margin-bottom: 35%;
}

.main-div {
    margin-top: 20vmax;
}

.img-me {
    margin: 0 50px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-top: auto;
    width: 30%;
    border-radius: 0% 50%;
    margin-bottom: 40%;
}

.c1 {
    min-height: 25rem;
    margin-top: 50px;
    width: 325px;
    height: 300px;
    background: linear-gradient(135deg, #ff85ec 0%, #84ff98 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 50px auto;
    text-align: center;
}

.img-html {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-css {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-js {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-node {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-vue {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-react {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.fe-h3 {
    text-align: center;
    text-align: center;
    margin: 40px;
    color: #fffcf2;
    font-style: bold;
    font-size: 30px;
}

.c2 {
    min-height: 25rem;
    margin-top: 50px;
    width: 325px;
    height: 300px;
    background: linear-gradient(135deg, #ff85ec 0%, #84ff98 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 50px auto;
    text-align: center;
}

.O-h3 {
    text-align: center;
    text-align: center;
    color: #fffcf2;
    font-style: bold;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 0;
}

.p-h3 {
    margin-top: 0;
    text-align: center;
    color: #fffcf2;
    font-style: bold;
    font-size: 20px;
}

.img-c {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-java {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-git {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.div-p {
    text-align: center;
    margin: 40px;
    color: #fffcf2;
    font-style: bold;
    font-size: 20px;
}

.div-h3 {
    text-align: center;
    font-size: 30px;
    color: #fffcf2;
    margin: 0;
    padding: 0;
    font-style: oblique;
}

button {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}

button:active {
    transform: scale(.9);
    transition: all 100ms ease;
}

button svg {
    transition: all .5s ease;
    z-index: 2;
}

.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}

button:hover svg {
    transform: scale(3) translate(50%);
}

.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}

button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
}

button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}

a {
    display: inline;
    text-decoration: none;
    color: white;
}

.p-last {
    text-align: center;
    font-size: 25px;
    color: #fffcf2;
    margin-bottom: 40px;
    padding: 0;
    margin-top: 150px;
    font-style: oblique;
}

.soc {
    border-radius: 15px;
    min-height: 10rem;
    width: 350px;
    background: linear-gradient(135deg, #ff85ec 0%, #84ff98 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 50px auto;
    text-align: center;
}

.soc-h3 {
    text-align: center;
    font-size: 30px;
    color: #fffcf2;
    margin: 0;
    padding: 0;
    font-style: oblique;
    margin-top: 40px;
}

.img-fb {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.img-ins {
    height: 50px;
    width: 50px;
    margin: 25px;
}

.div-h5 {
    text-align: center;
    margin: 40px;
    color: #fffcf2;
    font-style: bold;
    font-size: 20px;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 8vmax;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.container {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: clamp(2rem, 2.8vw, 5rem);
    font-family: Raleway;
    font-weight: bold;
}

.typewriter {
    font-size: 3vmax;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #212121;
    animation: cursor 1s step-start infinite, text 5s steps(100) alternate infinite;
    margin-left: 20px;
    color: #2b2d42;
}

@keyframes cursor {
    0%,
    100% {
        border-color: #212121;
    }
}

@keyframes text {
    0% {
        width: 0;
    }
    100% {
        width: 21.5ch;
    }
}

#clock {
    font-size: 60px;
    text-align: center;
}